<h1>Subscribe to Newsletter</h1>
<div class="width25">
  <form #f="ngForm" (ngSubmit)="subscribe()" novalidate>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="text" class="form-control" [(ngModel)]="subscription.email" name="subscriptionEmail" email required #subscriptionEmail="ngModel">
    </div>
    <div class="form-group">
      <h3>Topics</h3>
      <div *ngFor="let t of topics" class="checkbox">
        <label for="topic{{t.id}}">
          <input type="checkbox"  id="topic{{t.id}}" (change)="onTopicToggle(t.id, $event)" >{{t.name}}
        </label>
      </div>
    </div>
    <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Subscribe</button>
  </form>
</div>
